#pic1{
	width:300px;
	height:300px;
}
#pic2{
	width:300px;
	height:300px;
}
#pic3{
	width:300px;
	height:300px;
}
#pic4{
	width:300px;
	height:300px;
}
#pic5{
	width:300px;
	height:300px;
}
#pic6{
	width:300px;
	height:300px;
}
#pic7{
	width:300px;
	height:300px;
}
#pic8{
	width:300px;
	height:300px;
}
#pic9{
	width:300px;
	height:300px;
}
#pred{
	color: red;
	font-size: 300%;
	padding-left: 220px;
}